.bannercontainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/eventsbanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  max-height: 1100px;
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.1em;
}

.bannercontainer img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobilecontainer {
  display: none;
}

.box {
  display: flex;
  flex-direction: row;
  padding: 36px;
  color: rgba(17, 17, 17, 0.9);
  align-items: center;
}

.box img {
  max-width: 50%;
  height: auto;
  padding: 12px 0;
}

.box h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.015em;
  padding: 0 0 18px 0;
}

.box p {
  padding: 0 0 22px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.015em;
}

.box2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 48px;
  min-width: 600px;
}

.box a {
  display: flex;
}

.getinvolvedcont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 36px;
  background-color: rgba(217, 227, 254, 1);
  font-size: 24px;
}

.getinvolvedcont p {
  padding: 34px;
}

.button1 a,
.button1,
.buttonsvg1 {
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 86, 135, 1);
  padding: 16px 18px;
  margin: 0;
  max-width: 8rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 86, 135, 1);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.button1:hover,
.buttonsvg2:hover {
  color: #fff;
  background-color: rgb(0, 132, 209);
  border: 1px solid rgb(0, 132, 209);
}

.button2 a,
.button2,
.buttonsvg2 {
  display: flex;
  justify-content: center;
  color: rgba(0, 86, 135, 1);
  background-color: #fff;
  padding: 16px 18px;
  margin: 16px;
  max-width: 8rem;
  border-radius: 6px;
  border: 1px solid rgba(0, 86, 135, 1);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.5px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.buttonsvg1,
.buttonsvg2 {
  color: rgba(0, 86, 135, 1);
  background-color: #fff;
  text-transform: uppercase;
  max-width: 9rem;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.buttonsvg2 {
  color: #fff;
  background-color: rgba(0, 86, 135, 1);
  border: 1px solid rgba(0, 86, 135, 1);
  margin: 0;
}

.button2:hover,
.buttonsvg1:hover {
  color: #fff;
  background-color: rgb(0, 132, 209);
  border: 1px solid rgb(0, 132, 209);
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.desktopcontainer .box:nth-child(2) {
  flex-direction: row-reverse;
}

.desktopcontainer .box:nth-child(2),
.mobilecontainer .box:nth-child(2) {
  background-color: rgba(217, 227, 254, 1);
}

@media (max-width: 1124px) {
  .bannercontainer {
    min-height: 500px;
    font-size: 36px;
    letter-spacing: 0.1em;
  }

  .box2 {
    padding: 12px 48px;
    min-width: 400px;
  }

  .box h2 {
    font-size: 28px;
  }

  .box p {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .bannercontainer {
    min-height: 400px;
    font-size: 28px;
    letter-spacing: 0.1em;
  }

  .desktopcontainer {
    display: none;
  }

  .mobilecontainer {
    display: block;
  }

  .box {
    display: flex;
    flex-direction: column;
    padding: 36px 36px;
  }

  .box img {
    max-width: 100%;
    height: auto;
  }

  .box h2 {
    padding: 0 0 12px 0;
    font-size: 24px;
  }

  .box p {
    font-size: 18px;
  }

  .getinvolvedcont {
    padding: 36px 36px;
  }

  .getinvolvedcont p {
    padding: 16px 20px;
  }
}

@media (max-width: 500px) {
  .bannercontainer {
    min-height: 350px;
    font-size: 22px;
    letter-spacing: 0.1em;
  }
}

@media (max-width: 400px) {
  .bannercontainer {
    min-height: 300px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}
