footer {
  background-color: rgba(255, 138, 68, 1);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 400px) {
}

footer {
  align-items: center;
  flex-direction: column;
}
