.bannercontainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/getinvolved.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  max-height: 1100px;
  position: relative;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.1em;
}

.bannercontainer img {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.bannertext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.formcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 26px 0;
}

.form {
  background-color: #fff;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 26px;
  border: 1px solid #1f1f1f;
}

.inputwrap {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  flex-direction: row;
}

.inputfield {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
}

.inputfield input {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid #ddd;
}

/* contribute */

.contribute-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(217, 227, 254, 1);
}

.contribute {
  width: 100%;
  max-width: 380px;
  margin: 12px;
  padding: 28px;
}

.contribute h2 {
  font-weight: 600;
  font-size: 28px;
}

.contribute p {
  padding: 12px 0;
  font-size: 18px;
}

.contribute h2,
.contribute p {
  color: #1f1f1f;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 400px) {
}
