header {
  background-color: rgba(98, 29, 75, 1);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: 0 10px;
  height: 100%;
  padding: 0 30px;
  transition: 0.6s;
}

nav li:hover {
  text-decoration: underline;
}

nav a,
.logotext a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.logotext {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 28px;
}

.logotext img {
  max-width: 5rem;
}

.logotext a {
  display: flex;
  flex-direction: column;
  padding: 6px;
  font-size: 20px;
  line-height: 150%;
}

.logotext span {
  font-weight: 500;
}

header label,
#menu-checkbox {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  margin: -1px;
}

/* media cutoffs */

@media (max-width: 1124px) {
  .logotext {
    margin-left: 20px;
  }

  .logotext img {
    max-width: 4rem;
  }

  .logotext a {
    font-size: 16px;
    line-height: 125%;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .logotext {
    margin-left: 12px;
  }

  nav ul {
    flex-direction: column;
    display: none;
  }

  nav li {
    margin: 10px 0;
    margin-bottom: 2rem;
    padding: 20px 20px;
    font-size: 18px;
  }

  header label {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
  }

  #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ .navlinks {
    display: block;
    position: absolute;
    background-color: rgba(98, 29, 75, 0.9);
    top: 100%;
    right: 0;
    width: 50%;
    z-index: 999;
  }
}

@media (max-width: 400px) {
  .logotext {
    margin-left: 8px;
  }

  .logotext img {
    max-width: 3rem;
  }

  .logotext a {
    font-size: 12px;
    line-height: 125%;
    padding: 5px;
  }
}
